<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Skeleton Example" />
    <title>Document</title>
    <link
      href="/templates/example-2/example-2.css"
      rel="stylesheet"
      media="all" />
  </head>
  <body>
    <div id="app" class="h-screen bg-[#E5EEF8]">
      <div id="skeleton" class="flex w-full flex-col">
        <div class="bg-tpl-gradient-anim mb-8 h-40"></div>
        <div
          class="bg-tpl-gradient-anim ml-[30px] mr-[58px] mb-2 h-2 rounded-lg"></div>
        <div
          class="bg-tpl-gradient-anim ml-[30px] mr-[30px] mb-4 h-4 rounded-lg"></div>
        <div
          class="bg-tpl-gradient-anim ml-[30px] mr-[30px] mb-4 h-20 rounded-lg"></div>
        <div
          class="bg-tpl-gradient-anim ml-[30px] mr-[30px] mb-9 h-2 rounded-lg"></div>
        <div
          class="bg-tpl-gradient-anim ml-[30px] mr-[30px] mb-4 h-20 rounded-lg">
          <div class="flex h-full flex-row justify-center">
            <div class="flex h-full basis-1/2 flex-col items-center">
              <div
                class="bg-tpl-gradient-anim mt-4 mb-4 w-1/2 basis-1/2 rounded-lg bg-slate-700"></div>
              <div
                class="bg-tpl-gradient-anim mb-4 w-1/2 basis-1/2 rounded-lg bg-slate-700"></div>
            </div>
            <div class="flex basis-1/2 justify-center">
              <div
                class="bg-tpl-gradient-anim m-4 w-1/2 rounded-lg bg-slate-700"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    document.write(
      '<script src="http://' +
        (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' +
        'script>'
    );
  </script>
</html>
